.h2_3{
    text-align: center;
}
.h3_titular{
    color: red;
}
.h5_subtitular{
    color: blue;
}
.card4{
padding:20px;
}
.h1_4{
    text-align: center;
}
.miformulario{
    margin: 0px,50px,0px,50px;
}