
/*ejercicio 1*/


body{
    padding: 50px;
    background-color: beige;

}
h1{
    color: brown;
}

.ej1h1{
    color: red;
}

/*ejercicio2*/

img{
 width: 150px;
 height: 150px;
}

/* Ejercicio 2B */

.separador{
    width: 100%;
    height: 4px;
    background-color: mediumturquoise;
}
.titulo2b{
    color: mediumturquoise;
}
.texto{
    color: blue;
}

span.fuerte{
 font-weight: bold;
 font-style: italic;   
}


/*ejercicio3*/

h1.titulo{
    color: red;
}
.tituloazul{
    color: blue;
}

.resaltado{
    font-style: italic;
    font-weight: bold;
}


/*Ejercicio 4*/

div.venda{
    display: inline-block;
}
.venda{
    align-content: center;
    background-color: white; 
    border-radius: 10px;
    padding: 5px;
    margin-left: 5px;
    margin-left: 5px;
    width: 150px;
    height: 420px;
}
.imgvenda{
    border-radius: 10px;
}
.contenedordedivs{
    margin-top: 15px;
    padding: 10px;
    background-color: aqua;
    display: inline-block;
    
}
.precio{
    font-weight: bold;
    font-size: 20px;
}
.comentario{
    color:rgb(180, 179, 179);
    font-size: 15px;
}

/* Ejercicio 4B*/

.cabecera{
    height: 40px;
    position: fixed;
    margin: 0px;
    width: 100%;
    background-color: red;
    text-align: center;
}
.ejercicio4b{
    padding: 0px;
    margin: 0px;
}
.pie{
    position: fixed;
    bottom: 0px;

    padding-bottom: 0px;
    background-color: blue;
    width: 100%;
    height: 40px;
    margin-bottom: 0%;
}
.volver{
    position: fixed;
    top: 50%;
    left: 50%;
}
.franjas{
    text-align: center;
    font-weight: bold;
font-size: 20px;
color:white;

}


/* Ejercicio 4C*/
.contenedor_cuatroc{
    position: relative;
    width: 500px;
    height: 250px;
    background-color: red;
    top:150px;
    left: 30%;
}
.redondauno{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: white;
    border: 4px red solid;
    border-radius: 50%;
    top:-75px;
    left: -75px;
}
.redondados{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: white;
    border: 4px red solid;
    border-radius: 50%;
    top: -75px;
    right: -75px;
 }
.redondatres{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: white;
    border: 4px red solid;
    border-radius: 50%;
    bottom: -75px;
    right:-75px
}
.redondacuatro{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: white;
    border: 4px red solid;
    border-radius: 50%;
    bottom: -75px;
    left: -75px
}.contenedor_cuatroc p{
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
    
    padding-top: 20%;

}

/*Ejercicio 4D*/

.contenedor4c{
    position: relative;
        left: 25%;
    top: 60px;
    width: 50%;
    height: 300px;
    background-color: blue;
    border-radius: 25px;
}
.contenedor4ca{
    background-color: white;
    width: 50%;
    height: 100%;
    border-radius: 25px 0px 0px 25px;
}
.textointerno{
    position: absolute;
    text-align: center;
    top: 75px;
width: 75%;
left: 50px;


}

/*Ejercicio 5*/

i{
    font-size: 100px;
}
.abajo{
    display: inline-block;
}
.izquierda{
    display: inline-block;
}
.derecha{
    display: inline-block;
}
.arriba{
    display: inline-block;
}
.tododiv{
    text-align: center;
    margin-top: 100px;

/*Ejercicio 6*/


}
.lista2{
    display: inline-block;
}
li.fas,fa-arrow-alt-circle-right{
    display: block;
}


/*Ejercicio 7*/
.primerdiv{
    display: inline-block;
    width: 25%;
    
}
.segundodiv{
    display: inline-block;
    width: 70%;
    position: relative;
    background-color: red;
    vertical-align: top;
}

.figura1 p{
    margin: 3px 0;
    font-size: 15px;
}
.figura1 img{
    width: 200px;
    height: 200px;
}
.nfact{
    width: 250px;
    position: absolute;
   
    right: 50%;
}
.nfact p{    
    margin: 3px 0;
}
.separador2{
    height: 2px;
    background-color: green;
}
.liniav1{
    
    display: inline-block;
    height: 150px;
    width: 5px;
    background-color: green;
}

.cliente{
   /*xk funcionas*/ 
    position: absolute;
    top: 130px;
    right: 200px;
}
.cliente figure{
    display: inline-block;
    width: 450px;
    margin: 0px 5px 0px 5px;
}
.cliente figure p{
    margin:  3px 0;
    font-size: 13px;
}   

/* Ejercicio 8*/

.campo .fila div{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: gray;
    margin: 5px;
    position: relative;
    
}
.campo .fila div:hover{
    background-color: green;
}

.campo .fila .mina:hover{
    background-color: inherit;

}
.bomba{
    font-size: 50px;
    position: absolute;
    z-index: -1;
}

/**Ejercicio 9*/
.primerp{
font-family: 'Oldenburg', cursive;
}
.primerp::first-letter{
font-size: 3em;
}
.primerp::first-line{
    color: red;
    }

    /*Ejercicio 12*/
.miformulario label{
    color: blue;
    font-weight: bold;
}
.miformulario .inputlargo{
    width: 90%;
}

.miformulario .inputcorto{
    width: 99%;
}
.miformulario .inputcortodos{
    width: 80%;
}
.miformulario table td{
    min-width: 40px;
}
.inputradio{
    margin-top: 20px;
    display: inline-block;
    width: 44%;
    
}
.inputselect{
    display: inline-block;
}
.vehiculo{
    margin-top: 10px;
}
button{
    display: block;
margin-top: 20px;
}

/*Boostrap*/
@media only screen and (max-width: 799px) {
    .boostrap1{
        width: 100%;
        display: block;
        height: 1000px;
        background-color: green
    }
    .textotrap1{
display: block;
    }
    .boostrap1_2,.textotrap1_2{
        display: none;
    }
}
@media only screen and (min-width: 800px) {
    .boostrap1_2{
        display: block;
        width: 100%;
        height: 1000px;
        background-color: red;
    }
.textotrap1_2{
    display: block;
    top: 50%;
}
    
    .boostrap1,.textotrap1{
        display: none;
    }
}


/**boostrap 2*/

.elemento{
    border: 1px black solid;
    background-color: green;
  
    margin-bottom: 5px;
    height: 50px;
    color: white;
    text-align: center;
    font-size: 30px;

}
.elemento1{
    border:2px black solid;
    background-color: red;
  
    margin-bottom: 5px;
    height: 50px;
    color: white;
    text-align: center;
    font-size: 30px;
}

/**Boostrap 3- Bloogeros/


